In [3]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

df = pd.read_excel('C:\\Users\\Fredrik\\Downloads\\gym.xlsx')
exe = df['Excercise'].unique().tolist()
exe.sort()
print(exe)

In [5]:
sql = 'select * from lifts'

In [17]:
def read_sql(sql):
    connection = mysql.connector.connect(
        host='34.88.150.1',
        database='gym-db',
        user='app-user',
        password='983298'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(sql)

        df = pd.DataFrame(cursor.fetchall())

        headers = cursor.description
        index = []
        for head in headers:
            index.append(head[0])
        
        df.columns = index

        cursor.close()
        connection.close()

    return df

In [18]:
x = read_sql(sql)

In [20]:
sql = 'select * from exercise'
x = read_sql(sql)

In [23]:
df = pd.read_excel('D:\\Chrome Downloads\\gym.xlsx')

In [21]:
x

    exeid          exercise
0      37    Back Extension
1      38      Barbell Curl
2      39       Barbell Row
3      40       Bench Press
4      41          Deadlift
5      42     Dumbbell Curl
6      43      Lat Pulldown
7      44           Lat Row
8      45    Overhead Press
9      46             Situp
10     47             Squat
11     48  Tricep Extension

for e in exe:
    sql = "insert into exercise (exercise) values(%s)"
    cursor.execute(sql, [e])
    connection.commit()