In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

df = pd.read_excel('C:\\Users\\Fredrik\\Downloads\\gym.xlsx')
exe = df['Excercise'].unique().tolist()
exe.sort()
print(exe)

In [2]:
sql = 'select * from lifts'

In [3]:
def read_sql(sql):
    connection = mysql.connector.connect(
        host='34.88.150.1',
        database='gym-db',
        user='app-user',
        password='983298'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(sql)

        df = pd.DataFrame(cursor.fetchall())

        headers = cursor.description
        index = []
        for head in headers:
            index.append(head[0])
        
        df.columns = index

        cursor.close()
        connection.close()

    return df

In [8]:
sql = 'select * from exercise'
x = read_sql(sql)

In [9]:
x

    exeid          exercise
0      37    Back Extension
1      38      Barbell Curl
2      39       Barbell Row
3      40       Bench Press
4      41          Deadlift
5      42     Dumbbell Curl
6      43      Lat Pulldown
7      44           Lat Row
8      45    Overhead Press
9      46             Situp
10     47             Squat
11     48  Tricep Extension

In [10]:
sql = 'select * from lifts'
y = read_sql(sql)

In [11]:
y

,Date,Time,Exercise,Weight,Sets,Reps,Effort,id_lift,exeid
0,2023-01-19,0 days 17:00:00,Shoulderpress,30.0,5,5,H,1,37
1,2023-01-19,0 days 17:00:00,Deadlift,80.0,5,5,H,2,37
2,2023-01-21,0 days 09:00:00,Squat,50.0,5,5,M,3,37
3,2023-02-19,0 days 21:00:00,Test,0.0,0,0,H,4,37
4,2022-02-19,0 days 00:00:00,Test,0.0,0,0,0,5,37
5,2022-02-19,0 days 00:00:00,Test,0.0,0,0,0,6,37
6,1917-12-06,0 days 18:00:00,Test,0.0,0,0,E,7,37
7,2019-05-03,0 days 14:15:00,Test,0.0,0,0,M,8,37
8,2023-03-01,0 days 21:15:00,Testing again,0.0,0,0,E,9,37
9,2023-03-01,0 days 21:19:00,Test2,0.0,0,0,E,10,37
10,2023-03-01,0 days 22:01:00,test again 3,15.0,3,5,E,11,37
11,2002-03-20,0 days 15:30:00,Squat,60.0,1,10,E,12,37
12,2002-03-20,0 days 15:30:00,Squat,80.0,1,8,H,13,37
13,2002-03-20,0 days 15:30:00,Squat,80.0,1,5,M,14,37
14,2002-03-20,0 days 15:30:00,Shoulderpress,35.0,1,10,M,15,37
15,2002-03-20,0 days 15:30:00,Shoulderpress,35.0,2,8,M,16,37
16,2002-03-20,0 days 15:30:00,Bench,40.0,1,10,E,17,37
17,2002-03-20,0 days 15:30:00,Bench,50.0,2,8,M,18,37
18,2002-03-20,0 days 15:30:00,Situp,0.0,3,10,E,19,37
19,2002-03-20,0 days 15:30:00,Backextend,10.0,3,10,E,20,37
20,2002-03-20,0 days 15:30:00,Deadlift,80.0,1,5,E,21,37
21,2002-03-20,0 days 15:30:00,Deadlift,100.0,2,5,E,22,37
22,2023-03-05,0 days 16:14:00,Opt2,10.0,3,3,M,23,37

In [27]:
exeDict = x.set_index('exeid').to_dict()

In [23]:
df = pd.read_excel('D:\\Chrome Downloads\\gym.xlsx')

In [28]:
df

          Date      Time          Excercise  Weight  Set  Rep Effort
0   2023-01-19  17:00:00     Overhead Press      30    5    5      H
1   2023-01-19  17:00:00           Deadlift      80    5    5      H
2   2023-01-21  09:00:00              Squat      50    5    5      M
3   2023-01-21  09:00:00        Bench Press      40    5    5      M
4   2023-01-21  09:00:00        Barbell Row      40    5    5      E
..         ...       ...                ...     ...  ...  ...    ...
113 2023-03-10  17:00:00        Bench Press      50    3    8      M
114 2023-03-10  17:00:00      Dumbbell Curl      10    3    8      E
115 2023-03-10  17:00:00  Dumbbell Overhead      14    4    8      E
116 2023-03-10  17:00:00   Tricep Extension      20    2    8      E
117 2023-03-10  17:00:00   Tricep Extension      35    2   10      E

[118 rows x 7 columns]

In [ ]:
sql =

for e in exe:
    sql = "insert into exercise (exercise) values(%s)"
    cursor.execute(sql, [e])
    connection.commit()