In [12]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

df = pd.read_excel('C:\\Users\\Fredrik\\Downloads\\gym.xlsx')
exe = df['Excercise'].unique().tolist()
exe.sort()
print(exe)

In [13]:
sql = 'select * from lifts'

In [14]:
def read_sql(sql):
    connection = mysql.connector.connect(
        host='34.88.150.1',
        database='gym-db',
        user='app-user',
        password='983298'
    )
    
    if connection.is_connected():
        cursor = connection.cursor()

        cursor.execute(sql)

        df = pd.DataFrame(cursor.fetchall())

        headers = cursor.description
        index = []
        for head in headers:
            index.append(head[0])
        
        df.columns = index

        cursor.close()
        connection.close()

    return df

In [15]:
sql = 'select * from exercise'
x = read_sql(sql)

In [16]:
x

    exe_id          exercise
0       37    Back Extension
1       38      Barbell Curl
2       39       Barbell Row
3       40       Bench Press
4       41          Deadlift
5       42     Dumbbell Curl
6       43      Lat Pulldown
7       44           Lat Row
8       45    Overhead Press
9       46             Situp
10      47             Squat
11      48  Tricep Extension

In [17]:
sql = 'select * from lifts'
y = read_sql(sql)

In [27]:
exeDict = x.set_index('exeid').to_dict()

In [19]:
df = pd.read_excel('D:\\Chrome Downloads\\gym.xlsx')

In [63]:
df

          Date      Time          Excercise  Weight  Set  Rep Effort
0   2023-01-19  17:00:00     Overhead Press      30    5    5      H
1   2023-01-19  17:00:00           Deadlift      80    5    5      H
2   2023-01-21  09:00:00              Squat      50    5    5      M
3   2023-01-21  09:00:00        Bench Press      40    5    5      M
4   2023-01-21  09:00:00        Barbell Row      40    5    5      E
..         ...       ...                ...     ...  ...  ...    ...
113 2023-03-10  17:00:00        Bench Press      50    3    8      M
114 2023-03-10  17:00:00      Dumbbell Curl      10    3    8      E
115 2023-03-10  17:00:00  Dumbbell Overhead      14    4    8      E
116 2023-03-10  17:00:00   Tricep Extension      20    2    8      E
117 2023-03-10  17:00:00   Tricep Extension      35    2   10      E

[118 rows x 7 columns]

In [39]:
x = df.iloc[0:3]

In [40]:
x

        Date      Time       Excercise  Weight  Set  Rep Effort
0 2023-01-19  17:00:00  Overhead Press      30    5    5      H
1 2023-01-19  17:00:00        Deadlift      80    5    5      H
2 2023-01-21  09:00:00           Squat      50    5    5      M

In [28]:
sql = f"INSERT INTO lifts (Date, Time, exe_id, Weight, Sets, Reps, Effort) VALUES ('{x[0]}', '{x[1]}', (select exe_id from exercise where exercise = '{x[2]}'), '{x[3]}', '{x[4]}', '{x[5]}', '{x[6]}')"

In [66]:
connection = mysql.connector.connect(
    host='34.88.150.1',
    database='gym-db',
    user='app-user',
    password='983298'
)

cursor = connection.cursor()

sql = f"INSERT INTO lifts (Date, Time, exe_id, Weight, Sets, Reps, Effort) VALUES (%s, %s, (select exe_id from exercise where exercise = %s), %s, %s, %s, %s)"

for i, row in df.iterrows():

    val = row.tolist()

    cursor.execute(sql, val)

connection.commit()

In [62]:
connection.commit()

In [35]:
insert_sql(sql)

          Date      Time          Excercise  Weight  Set  Rep Effort
0   2023-01-19  17:00:00     Overhead Press      30    5    5      H
1   2023-01-19  17:00:00           Deadlift      80    5    5      H
2   2023-01-21  09:00:00              Squat      50    5    5      M
3   2023-01-21  09:00:00        Bench Press      40    5    5      M
4   2023-01-21  09:00:00        Barbell Row      40    5    5      E
..         ...       ...                ...     ...  ...  ...    ...
113 2023-03-10  17:00:00        Bench Press      50    3    8      M
114 2023-03-10  17:00:00      Dumbbell Curl      10    3    8      E
115 2023-03-10  17:00:00  Dumbbell Overhead      14    4    8      E
116 2023-03-10  17:00:00   Tricep Extension      20    2    8      E
117 2023-03-10  17:00:00   Tricep Extension      35    2   10      E

[118 rows x 7 columns]

In [57]:
for row in x.iterrows():
    print(row[1].tolist())

[Timestamp('2023-01-19 00:00:00'), datetime.time(17, 0), 'Overhead Press', 30, 5, 5, 'H']
[Timestamp('2023-01-19 00:00:00'), datetime.time(17, 0), 'Deadlift', 80, 5, 5, 'H']
[Timestamp('2023-01-21 00:00:00'), datetime.time(9, 0), 'Squat', 50, 5, 5, 'M']

for e in exe:
    sql = "insert into exercise (exercise) values(%s)"
    cursor.execute(sql, [e])
    connection.commit()

In [52]:
x.iloc[0].tolist()

[Timestamp('2023-01-19 00:00:00'),
 datetime.time(17, 0),
 'Overhead Press',
 30,
 5,
 5,
 'H']